<form class="carotteForm noMargin">
    <div>
        <b class="carotteName">{{ annonce.carotteATroquer }}</b>
    </div>
    <div class="container noPadding">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <div class="container">
                    <div class="row">
                        <div class="col-5 noPadding">
                            <label for="contreCarotte" class="col labelCarotteForm noPadding">Quantité :</label>
                        </div>
                        <div class="col-6 noPadding">
                            <input type="contreCarotte" readonly class="form-control-plaintext form-control-sm noPadding" id="contreCarotte" value= {{ annonce.Quantity }} ~ {{ annonce.Unite }}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 noPadding">
                            <label for="contreCarotte" class="col labelCarotteForm noPadding">Bio :</label>
                        </div>
                        <div class="col-6 noPadding">
                            <input type="contreCarotte" readonly class="form-control-plaintext form-control-sm noPadding" id="contreCarotte" value={{ annonce.Bio }}>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5 noPadding">
                            <label for="contreCarotte" class="col labelCarotteForm noPadding">Où :</label>
                        </div>
                        <div class="col-6 noPadding">
                            <input type="contreCarotte" readonly class="form-control-plaintext form-control-sm noPadding" id="contreCarotte" value={{ annonce.ville }}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="form-check form-check-inline noPadding">
                    <img class=img-form src={{asset('build/image/legume/'~ annonce.carotteATroquer.image)}} style=width:100%/> 
                </div>
            </div>
        </div>
    </div>
</form>